/* css/responsive.css */
.menu-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {
  .main-nav {
    position: relative;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
  }

  .main-nav ul {
    display: none;
    flex-direction: column;
    background-color: #087f5b;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .main-nav ul.show {
    display: flex;
  }

  .main-nav ul li {
    margin-bottom: 10px;
  }

  .card:last-child {
    margin-bottom: 5rem;
  }
  .hero.enhanced .overlay {
    margin-bottom: 10rem;
  }

  .footer p {
    text-align: center;
    margin-right: 1.5rem;
  }
}
